<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - ValueX ETF Fund Page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-grid.min.css'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app">
	<div class="hero">
		<div class="container">
			<div class="row">
				<div class="col">
					<h1>
						{{ fund.name }}
					</h1>
					<span class="subheader">
						Series {{ fund.series }}
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row justify-content-between">
		<div class="col-lg-7">
			<main class="main">
				<section class="section-block">
					<p>
						{{ fund.description }}
					</p>
				</section>
				<section class="section-block">
					<header>
						<h2 class="section-block-header">
							Growth of $10,000
						</h2>
					</header>
					<div id="chart-growth10k" class="chart"></div>
				</section>
				<section class="section-block">
					<header>
						<h2 class="section-block-header">
							Trailing total returns
						</h2>
					</header>
					<div class="table-wrapper">
						<table class="table">
							<thead>
								<tr>
									<th>
										1 week
									</th>
									<th>
										1 mth
									</th>
									<th>
										3 mth
									</th>
									<th>
										6 mth
									</th>
									<th>
										1 yr
									</th>
									<th>
										3 yr
									</th>
									<th>
										5 yr
									</th>
									<th>
										10 yr
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>0.46</td>
									<td>0.79</td>
									<td>0.99</td>
									<td>1.22</td>
									<td>1.42</td>
									<td>4.33</td>
									<td>4.98</td>
									<td>4.13</td>
								</tr>
							</tbody>
						</table>
					</div>
				</section>
				<section class="section-block">
					<header>
						<h2 class="section-block-header">
							Calendar returns
						</h2>
					</header>
					<div id="chart-calendarReturns" class="chart"></div>
				</section>
				<section class="section-block">
					<header>
						<h2 class="section-block-header">
							Asset allocation
						</h2>
					</header>
					<div id="chart-assetAllocation" class="chart">		</div>
					
					
				</section>
				
				<section class="section-block">
					<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-collapse">
					<thead>
						<tr>
							<th>Underlying Assets</th>
							<th>Ticker</th>
							<th>Class</th>
							<th>Asset Price</th>
							<th>ETF Weight</th>
							<th>Total Price per Token</th>
						</tr>
					</thead>
					<tbody id="handlebarsFundTable"></tbody>
				</table>
			</div>
		</div>
	</div>
</div>

				</section>
				
			</main>
		</div>
		<div class="col-lg-4">
			<aside 
				ref="sidebar" 
				:style="sidebarStyles"
				class="sidebar sidebar-fixed" 
			>
				<h2 class="sidebar-header">
					Risk
				</h2>
				<ul class="list-blox">
					<li :class="{active: fund.risk === 'low'}">
						<span>Low</span>
					</li>
					<li :class="{active: fund.risk === 'lowmed'}">
						<span>Low to Med</span>
					</li>
					<li :class="{active: fund.risk === 'med'}">
						<span>Med</span>
					</li>
					<li :class="{active: fund.risk === 'medhigh'}">
						<span>Med to High</span>
					</li>
					<li :class="{active: fund.risk === 'high'}">
						<span>High</span>
					</li>
				</ul>
				<h2 class="sidebar-header">
					Details
				</h2>
				<ul class="list-flex">
					<li v-for="detail in fund.details" :key="detail.title">
						<span class="list-header">
							{{ detail.title }}
						</span>
						<span>
							{{ detail.text }}
						</span>
					</li>
				</ul>
				<h2 class="sidebar-header">
					Documents
				</h2>
				<div class="well">
					<ul class="list-flex">
						<li v-for="document in fund.documents" :key="document.name">
							<a href="#">
								{{ document.name }}
							</a>
							<i class="icon far fa-file-pdf"></i>
						</li>
					</ul>
				</div>
			</aside>
		</div>
	</div>
	</div>
	<footer class="footer">
		<div ref="footer" class="container">
			<div class="row">
				<div class="col">
					<ul class="list-separator">
						<li>
							<a href="#">Products</a>
						</li>
						<li>
							<a href="#">Insights</a>
						</li>
						<li>
							<a href="#">Tools</a>
						</li>
						<li>
							<a href="#">About</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</div>

<script id="fundTableTemplate" type="text/x-handlebars-template">
	{{#each funds}}
		<tr class="collapse-control collapsed" data-toggle="collapse" data-target="#collaspe{{code}}" aria-expanded="false">
			<td><a href="#">{{name}}</a></td>
			<td>{{code}}</td>
			<td>{{series}}</td>
			<td>{{assetClass}}</td>
			<td>{{risk}}</td>
			<td>{{mer}}</td>
		</tr>
		<tr>
			<td colspan="6" class="collapse-td">
				<div class="collapse-content collapse" id="collaspe{{code}}">
					<span class="header-6">Investment objective</span>
					<p>{{objective}}</p>
				</div>
			</td>
		</tr>
	{{/each}}
</script>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/highcharts/6.2.0/highcharts.js'></script><script  src="./script.js"></script>

</body>
</html>
